html, body{
    height: 100%;
}

._brand {
    font-size: 1.8em;
    font-family: 'Lobster', cursive;
}

._nav-glyphicon {
    font-size: 0.8em;
}

._container {
  width: 1050px;
}

._navbar{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

._search-input {
  color:#fff;
  background-color:#333;
  border:0px;
  transition: width .2s ease;
  width: 200px !important;
  font-size: 16px;
  height: 30px;
  margin-top: 2px;
}

._search-input:focus{
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
  width: 260px !important;
}

._empty-space {
  height: 90px;
}

._empty-space-not {
  height: 20px;
}

._book-app-button {
  float:right;
  position:relative;
  top:-5px;
}

._progress-bar {
  float:right;
  width:200px;
  position:relative;
  top:-18px;
}

._panel-btn-group {
  float:right;
  position:relative;
  top:-11px;
}

._navbar-not {
  padding: 4px 4px;
  line-height: .5;
  font-size: 10px;
  position: relative;
  top: -3px;
}

._media-not {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 10px;
}

._media-not:last-child {
  border-bottom: 0px;
}
